#mainnav
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 2px #aaa
	background: #fff

#wrapper
	margin-top: 4.7em;

#mainnav-inside
	padding: 0.8em 1.6em

#search
	font-size: 1em
	padding: 0.2em 0.2em 0.2em 1.5em
	border: 0
	border-bottom: 1px solid #ddd
	border-radius: 1em
	box-shadow: inset 1px 2px 2px #aaa
	background: transparent url('icon-search-gray.svg') 0.5em 0.5em no-repeat
	background-size: 0.8em auto

#search:focus
	outline: 0
	background-image: url('icon-search-blue.svg')
	border-color: color_focused


#menu-button-wrapper
	float: right
	padding-left: 1.6em

#menu-button
	display: inline-block
	text-indent: -999px
	overflow: hidden
	width: 2em
	height: 2em
	box-shadow: 1px 2px 2px #aaa
	border: 0
	border-top: 1px solid #ddd
	border-radius: 1em
	background: transparent url('icon-settings-gray.svg') center center no-repeat
	background-size: 1em auto
	cursor: pointer

#menu-button:hover
#menu-button:focus
	background-image: url('icon-settings-blue.svg')

#menu-button:active
	position: relative
	left: 1px
	top: 2px
	box-shadow: 0px 0px 2px #aaa

