#mainnav
	padding: 0.8em 1.6em
	box-shadow: 0 2px 2px #aaa
	background: #fff

#search
	width: 24em
	max-width: 80%
	font-size: 1em
	padding: 0.2em 0.2em 0.2em 1em
	border: 0
	border-bottom: 1px solid color_lightgray
	background: transparent url('icon-search-gray.svg') left 0.5em no-repeat
	background-size: 0.8em auto

#search:focus
	outline: 0
	background: transparent url('icon-search-blue.svg') left 0.5em no-repeat
	background-size: 0.8em auto
	border-bottom-color: color_focused
