<div id="wrapper">
	<nav id="mainnav">
		<div id="mainnav-inside">
			<div id="menu-button-wrapper"><button id="menu-button">menu</button></div>
			<div id="search-wrapper"><input id="search" type="search" placeholder="search" incremental /></div>
		</div>
	</nav>

	<div id="content"></div>
</div>
