#mainnav
	transition: opacity 0.4s

#mainnav-inside
	padding: 0.8em 1.6em

#search
	font-size: 1em
	padding: 0.2em 0.2em 0.2em 1.5em
	border: 0
	border-bottom: 1px solid #ddd
	border-radius: 1em
	box-shadow: inset 1px 2px 2px #aaa
	background: transparent url('img/search-gray.svg') 0.5em 0.5em no-repeat
	background-size: 0.8em auto

#search:focus
	outline: 0
	background-image: url('img/search-blue.svg')
	border-color: color_focused


#menu-button-wrapper
	float: right
	padding-left: 1.6em

#menu-button
	display: inline-block
	text-indent: -999px
	overflow: hidden
	width: 2em
	height: 2em
	box-shadow: 1px 2px 2px #aaa
	border: 0
	border-top: 1px solid #ddd
	border-radius: 1em
	background: transparent url('img/add-gray.svg') center center no-repeat
	background-size: 1em auto
	cursor: pointer

#menu-button:hover
#menu-button:focus
	background-image: url('img/add-blue.svg')

#menu-button:active
	position: relative
	left: 1px
	top: 2px
	box-shadow: 0px 0px 2px #aaa

#content
	padding: 1px 5% 3em 5%
