<h1>Add a New Song</h1>

<form id="add-song-form">
	<input id="save-button" type="submit" value="✔ Save" disabled />
	<fieldset>
		<label for="song-file">Choose File</label>
		<input id="song-file" type="file" />
	</fieldset>
	<legend class="divide"><span>or</span></legend>
	<fieldset>
		<input id="author" type="text" placeholder="author" />
		<input id="title" type="text" placeholder="title" />
		<div id="text-container">
			<textarea id="text" placeholder="text (mark chords like this: <<Ami>>; separate stanzas by blank lines; more details comming soon...)"></textarea>
			<div id="preview" class="song-text"></div>
		</div>
	</fieldset>
</form>
