<h1>Add a New Song</h1>

<form id="add-song-form">
	<fieldset>
		<label for="song-file">Choose File</label>
		<input id="song-file" type="file" />
	</fieldset>
	<legend class="divide"><span>or</span></legend>
	<fieldset>
		<input id="author" type="text" placeholder="author" />
		<input id="title" type="text" placeholder="title" />
		<textarea id="text" placeholder="text"></textarea>
	</fieldset>
	<input id="save-button" type="submit" value="Save" />
</form>
