.songs-list
	li[data-match-quality="medium"]
		opacity: 0.7
	li[data-match-quality="low"]
		opacity: 0.4

.song-text
	white-space: pre
	line-height: 2

	columns: 20em
	.stanza
		column-break-inside: avoid

	.chord
		display: inline-block
		width: 0
		overflow: visible
		position: relative
		top: -1.4em
		font-size: 0.72em
		font-variant: small-caps
		font-weight: bold
