// colors
color_focused = #0af
color_lightgray = #ccc

// generic styles
h1, h2, h3, h4
	font-weight: normal

// chrome
#mainnav
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 2px #aaa
	background: #fff
	z-index: 1

#wrapper
	margin-top: 4.7em;
	position: relative
